{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 10 - "p96-97 (Fascinating Possibility)"{% endblock %}

{% block echoGroupBody %}
    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>Leviticus 22:17</h3>
            <br>
            <p>**** I wasn't sure what you meant when you said 'all 30 names'?</p>
            <b>27:1</b> Yahweh spoke to Moses, saying, <b>2</b> “Speak to the children of Israel, and say to them, ‘When a man makes
            a vow, the persons shall be for Yahweh by your valuation. <b>3</b> Your valuation of a male from twenty years old
            to sixty years old shall be fifty shekels of silver, according to the shekel of the sanctuary. 4 If
            <a class="echo" data-echo-id="1">she is a female</a>, then
            <a class="echo" data-echo-id="2">your valuation shall be thirty shekels</a>.
            <b>5</b> If the person is from five years old to twenty
            years old, then your valuation shall be for a male twenty shekels, and for a female ten shekels. <b>6</b>
            If the
            person is from a month old to five years old, then your valuation shall be for a male five shekels of
            silver, and for a female your valuation shall be three shekels of silver. <b>7</b> If the person is from sixty
            years old and upward; if he is a male, then your valuation shall be fifteen shekels, and for a female ten
            shekels. <b>8</b> But if he is poorer than your valuation, then he shall be set before the priest, and the priest
            shall assign him a value.
            <a class="echo" data-echo-id="3">The priest shall assign a value according to his ability to pay</a>.
            <br>
            <br>
            <b>9</b> If it is an animal of which men offer an offering to Yahweh, all that any man gives of such to Yahweh
            becomes holy. <b>10</b> He shall not alter it, nor exchange it, a good for a bad, or a bad for a good. If he shall
            at all exchange animal for animal, then both it and that for which it is exchanged shall be holy. <b>11</b> If it
            is any unclean animal, of which they do not offer as an offering to Yahweh, then he shall set the animal
            before the priest; <b>12</b>
            <a class="echo" data-echo-id="4">and the priest shall evaluate it, whether it is good or bad.
                As the priest evaluates it, so it shall be</a>. 13 But if he will indeed redeem it, then he shall
            add the fifth part of it to its
            valuation.
            <br>
            <br>
            <b>27:14</b> When a man <a class="echo" data-echo-id="5">dedicates his house</a>
            to be holy to Yahweh, then the priest shall evaluate it, whether
            it is good or bad. As the priest evaluates it, so shall it stand. <b>15</b> If he who dedicates it will redeem
            his house, then he shall add the fifth part of the money of your valuation to it, and it shall be his.
            <br>
            <br>
            <b>16</b> If a man dedicates to Yahweh part of the field of his possession, then your valuation shall be
            according to the seed for it. The sowing of a homer of
            <a class="echo" data-echo-id="6">barley</a> shall be valued at fifty shekels of silver.
            <b>17</b> If he dedicates his <a class="echo" data-echo-id="7">field</a> from the Year of Jubilee, according
            to your valuation it shall stand. <b>18</b>
            <a class="echo" data-echo-id="8">But if he dedicates his field after the Jubilee</a>, then the priest
            shall reckon to him the money according to
            the years that remain to the Year of Jubilee; and an abatement shall be made from your valuation. <b>19</b> If
            he who dedicated the field will indeed redeem it, then he shall add the fifth part of the money of your
            valuation to it, and it shall remain his. <b>20</b> If he will not redeem the field, or if he has sold the field
            to another man, it shall not be redeemed anymore; <b>21</b> but the <a class="echo" data-echo-id="9">field</a>,
            when it goes out in the Jubilee, shall
            be holy to Yahweh, as a devoted field. It shall be owned by the priests. <b>22</b> If he dedicates a field to
            Yahweh which he has bought, which is not of the field of his possession, <b>23</b> then the priest shall reckon
            to him the worth of your valuation up to the Year of Jubilee; and he shall give your valuation on that
            day, as a <a class="echo" data-echo-id="10">holy thing to Yahweh</a>. <b>24</b> In the Year of Jubilee the field
            shall return to him from whom it was
            bought, even to him to whom the possession of the land belongs. <b>25</b> All your valuations shall be according
            to the shekel of the sanctuary: twenty gerahs to the shekel.
            <br>
            <br>
            <b>26</b> However the firstborn among animals, which belongs to Yahweh as a firstborn, no man may dedicate,
            whether an ox or a sheep. It is Yahweh’s.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>Romans 12</h3>
            <br>
            <b>16:1</b> I commend to you <a class="echo" data-echo-id="1">Phoebe, our sister</a>, who is a servant of
            the assembly that is at Cenchreae, <b>2</b>
            <a class="echo" data-echo-id="2">that you receive her in the Lord in a way worthy of the saints</a>,
            and that <a class="echo" data-echo-id="3">you assist her in whatever matter she may need from you</a>,
            for she herself also <a class="echo" data-echo-id="4">has been a helper of many</a>,
            and of me myself. <b>3</b> Greet Prisca and Aquila, my fellow workers in Christ Jesus, <b>4</b> who risked their own
            necks for my life, to whom not only I give thanks, but also all the assemblies of the Gentiles. <b>5</b>
            <a class="echo" data-echo-id="5">Greet the assembly that is in their house</a>. Greet Epaenetus,
            my beloved, who is the <a class="echo" data-echo-id="6">first fruits</a> of Achaia to
            Christ. <b>6</b> Greet Mary, who <a class="echo" data-echo-id="7">labored much</a> for us. <b>7</b> Greet
            Andronicus and Junia, my relatives and my fellow
            prisoners, who are notable among the apostles,
            <a class="echo" data-echo-id="8">who were also in Christ before me</a>. <b>8</b> Greet Ampliatus, my
            beloved in the Lord. <b>9</b> Greet Urbanus, our fellow worker in Christ, and Stachys, my beloved. <b>10</b> Greet
            Apelles, the approved in Christ. Greet those who are of the household of Aristobulus. <b>11</b> Greet Herodion,
            my kinsman. Greet them of the household of Narcissus, who are in the Lord. <b>12</b> Greet Tryphaena and Tryphosa,
            who labor in the Lord. Greet Persis, the beloved, who <a class="echo" data-echo-id="9">labored</a> much
            in the Lord. <b>13</b> Greet Rufus, the chosen
            in the Lord, and his mother and mine. 14 Greet Asyncritus, Phlegon, Hermes, Patrobas, Hermas, and the
            brothers who are with them. <b>15</b> Greet Philologus and Julia, Nereus and his sister, and Olympas, and all
            the saints who are with them. <b>16</b> Greet one another with a
            <a class="echo" data-echo-id="10">holy kiss</a>. The assemblies of Christ greet you.
        </div>
    </div>
{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 1</p>
    </div>

    <!-- Hidden Echo 2 -->
    <div data-echo-id="2">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 2</p>
    </div>

    <!-- Hidden Echo 3 -->
    <div data-echo-id="3">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 3</p>
    </div>

    <!-- Hidden Echo 4 -->
    <div data-echo-id="4">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 4</p>
    </div>

    <!-- Hidden Echo 5 -->
    <div data-echo-id="5">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 5</p>
    </div>

    <!-- Hidden Echo 6 -->
    <div data-echo-id="6">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 6</p>
    </div>

    <!-- Hidden Echo 7 -->
    <div data-echo-id="7">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 7</p>
    </div>

    <!-- Hidden Echo 8 -->
    <div data-echo-id="8">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 8</p>
    </div>

    <!-- Hidden Echo 9 -->
    <div data-echo-id="9">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 9</p>
    </div>

    <!-- Hidden Echo 10 -->
    <div data-echo-id="10">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 10</p>
    </div>

    <!-- Hidden Echo 11 -->
    <div data-echo-id="11">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 11</p>
    </div>

    <!-- Hidden Echo 12 -->
    <div data-echo-id="12">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 12</p>
    </div>

    <!-- Hidden Echo 13 -->
    <div data-echo-id="13">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 13</p>
    </div>

    <!-- Hidden Echo 14 -->
    <div data-echo-id="14">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 14</p>
    </div>

    <!-- Hidden Echo 15 -->
    <div data-echo-id="15">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 15</p>
    </div>

{% endblock %}


