{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 11 - "p99 (Another Fascinating Possibility)"{% endblock %}

{% block echoGroupBody %}
    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3></h3>
            <br>
            27:30 All the tithe of the land, whether of the seed of the land or of the fruit of the trees, is
            Yahweh’s. It is holy to Yahweh. 31 If a man redeems anything
            <a class="echo" data-echo-id="1">of his tithe</a>, he shall add a fifth part to
            it. 32 All the tithe of the herds or the flocks, whatever passes under the rod,
            <a class="echo" data-echo-id="2">the tenth shall be holy to Yahweh</a>. 33 He shall not examine whether
            it is good or bad, neither shall he exchange it. If he
            exchanges it at all, then both it and that for which it is exchanged shall be holy. It shall not be
            redeemed.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3></h3>
            <br>
            16:21 <a class="echo" data-echo-id="1">Timothy</a>, my fellow worker, greets you, as do
            <a class="echo" data-echo-id="1">Lucius</a>, <a class="echo" data-echo-id="1">Jason</a>, and
            <a class="echo" data-echo-id="1">Sosipater</a>, my relatives. 22 I,
            <a class="echo" data-echo-id="1">Tertius</a>, who write the letter, greet you in the Lord. 23
            <a class="echo" data-echo-id="1">Gaius</a>, my host and host of the whole assembly,
            greets you.
            <a class="echo" data-echo-id="1">Erastus, the treasurer of the city</a>, greets you, as does
            <a class="echo" data-echo-id="1">Quartus, the brother</a>. 24 The grace
            of our Lord <a class="echo" data-echo-id="2">Jesus Christ</a> be with you all! Amen.
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            27:34 <a class="echo" data-echo-id="3">These</a> are the
            <a class="echo" data-echo-id="4">commandments which Yahweh commanded</a>
            Moses
            <a class="echo" data-echo-id="5">for the children of Israel</a> on
            <a class="echo" data-echo-id="6">Mount Sinai</a>.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            16:25 Now to him who is able to establish you according to my
            <a class="echo" data-echo-id="3">Good News and the preaching of Jesus Christ</a>, according to the
            revelation of the mystery which has been kept secret through long ages, 26 but
            now is revealed, and by the Scriptures of the prophets,
            <a class="echo" data-echo-id="4">according to the commandment</a> of the eternal God,
            is made known for obedience of faith
            <a class="echo" data-echo-id="5">to all the nations</a>; 27 to the only wise God, through Jesus Christ,
            to whom be the
            <a class="echo" data-echo-id="6">glory</a> forever! Amen.
        </div>
    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


