{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 12 - "The Great Restart"{% endblock %}

{% block echoGroupBody %}

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3></h3>
            <br>
            <b>Gen 8:13</b> In the six hundred first year, in the first month, the first day of the month, the waters were
            dried up from the earth. Noah removed the covering of the ark, and looked. He saw that the surface of the
            ground was dry. <b>14</b> In the second month, on the twenty-seventh day of the month, the earth was dry.
            <b>15</b> God
            spoke to Noah, saying, <b>16</b> “Go out of the ark, you, your wife, your sons, and your sons’ wives with you.
            <b>17</b> Bring out with you every living thing that is with you of all flesh, including birds, livestock, and
            every creeping thing that creeps on the earth, that they may breed abundantly in the earth, and be
            fruitful, and multiply on the earth.” <b>18</b> Noah went out, with his sons, his wife, and his sons’ wives with
            him. <b>19</b> Every animal, every creeping thing, and every bird, whatever moves on the earth, after their
            families, went out of the ark.
            <b>20</b> Noah built an altar to Yahweh. He took of every clean animal, and of every clean bird, and offered
            burnt offerings on the altar. <b>21</b> Yahweh smelled the pleasant aroma. Yahweh said in his heart, “I will
            not again curse the ground any more for man’s sake because the imagination of man’s heart is evil from
            his youth. <a class="echo" data-echo-id="1">I will never again strike every living thing</a>, as I have done.
            <b>22</b> <a class="echo" data-echo-id="2">While the earth remains,
                seed time and harvest, and cold and heat, and summer and winter, and day and night will not cease</a>.
            <br>
            <br>
            <h4>CHAPTER 9</h4>
            <b>Gen 9:1</b> <a class="echo" data-echo-id="3">God blessed Noah and his sons</a>,
            and said to them, “<a class="echo" data-echo-id="4">Be fruitful, multiply</a>, and fill the earth. <b>2</b>
            The fear of you and the dread of you will be on every animal of the earth, and on every bird of the sky.
            Everything that moves on the ground, and all the fish of the sea, are delivered into your hand. <b>3</b> Every
            moving thing that lives will be food for you. As I gave you the green herb, I have given everything to
            you. <b>4</b> But flesh with its life, that is, its blood, you shall not eat. <b>5</b> I will surely require accounting
            for your life’s blood. At the hand of every animal I will require it. At the hand of man, even at the
            hand of every man’s brother, I will require the life of man. <b>6</b>
            <a class="echo" data-echo-id="5">Whoever sheds man’s blood, by man will his
            blood be shed</a>, for God made man in his own image. <b>7</b> Be fruitful and multiply. Increase
            abundantly in the earth, and multiply in it.”
            <b>8</b> God spoke to Noah and to his sons with him, saying,<b>9</b> “As for me, behold, I establish my covenant with
            you, and with your offspring after you, <b>10</b> and with every living creature that is with you: the birds,
            the livestock, and every animal of the earth with you, of all that go out of the ark, even every animal
            of the earth. <b>11</b> I will establish my covenant with you: All flesh will not be cut off any more by the
            waters of the flood. There will never again be a flood to destroy the earth.” <b>12</b> God said, “This is the
            token of the covenant which I make between me and you and every living creature that is with you, for
            perpetual generations: <b>13</b>
            <a class="echo" data-echo-id="6">I set my rainbow in the cloud</a>, and it will be a sign of a covenant between me
            and the earth. <b>14</b> When I bring a cloud over the earth, that the rainbow will be seen in the cloud, 15 I
            will remember my covenant, which is between me and you and every living creature of all flesh, and the
            waters will no more become a flood to destroy all flesh. <b>16</b> The rainbow will be in the cloud. I will
            look at it, that I may remember the everlasting covenant between God and every living creature of all
            flesh that is on the earth.” <b>17</b> God said to Noah, “This is the token of the covenant which I have
            established between me and all flesh that is on the earth.”
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3></h3>
            <br>
            <b>Mat 5:1</b> <a class="echo" data-echo-id="4">Seeing the multitudes</a>, he went up onto the mountain.
            When he had sat down, his disciples came to
            him. <b>2</b> He opened his mouth and taught them, saying, <b>3</b>
            “<a class="echo" data-echo-id="3">Blessed are the poor in spirit, for theirs is the
                Kingdom of Heaven</a>. <b>4</b> Blessed are those who mourn, for they shall be comforted. <b>5</b> Blessed are the meek,
            for they shall inherit the earth. <b>6</b> Blessed are those who hunger and thirst for righteousness, for they
            shall be filled. <b>7</b> Blessed are the merciful, for they shall obtain mercy. <b>8</b> Blessed are the pure in
            heart, for they shall see God. <b>9</b> Blessed are the peacemakers, for they shall be called children of God.
            <b>10</b> Blessed are those who have been persecuted for righteousness’ sake, for theirs is the Kingdom of
            Heaven. <b>11</b> Blessed are you when people reproach you, persecute you, and say all kinds of evil against
            you falsely, for my sake. <b>12</b> Rejoice, and be exceedingly glad, for great is your reward in heaven. For
            that is how they persecuted the prophets who were before you. <b>13</b> You are the salt of the earth, but if
            the salt has lost its flavor, with what will it be salted? It is then good for nothing, but to be cast
            out and trodden under the feet of men. <b>14</b> You are the light of the world. A city located on a hill can’t
            be hidden. <b>15</b> Neither do you light a lamp and put it under a measuring basket, but on a stand; and it
            shines to all who are in the house. <b>16</b> Even so, let your light shine before men, that they may see your
            good works and glorify your Father who is in heaven. <b>17</b>
            <a class="echo" data-echo-id="1">Don’t think that I came to destroy the law or the prophets</a>.
            I didn’t come to destroy, but to fulfill. <b>18</b> For most certainly, I tell you,
            <a class="echo" data-echo-id="2">until heaven and
            earth pass away, not even one smallest letter or one tiny pen stroke shall in any way pass away from the
            law, until all things are accomplished</a>. <b>19</b> Therefore, whoever shall break one of
            these least commandments
            and teach others to do so, shall be called least in the Kingdom of Heaven; but whoever shall do and teach
            them shall be called great in the Kingdom of Heaven. <b>20</b> For I tell you that unless your righteousness
            exceeds that of the scribes and Pharisees, there is no way you will enter into the Kingdom of Heaven.
            <b>21</b> You have heard that it was said to the ancient ones,
            ‘<a class="echo" data-echo-id="5">You shall not murder;</a>’ and ‘Whoever murders will
            be in danger of the judgment.’ <b>22</b> But I tell you that everyone who is angry with his brother without a
            cause will be in danger of the judgment. Whoever says to his brother, ‘Raca!’ will be in danger of the
            council. Whoever says, ‘You fool!’ will be in danger of the fire of Gehenna. <b>23</b> If therefore you are
            offering your gift at the altar, and there remember that your brother has anything against you, <b>24</b>
            leave your gift there before the altar, and go your way. First be reconciled to your brother, and then
            come and offer your gift. <b>25</b> Agree with your adversary quickly while you are with him on the way; lest
            perhaps the prosecutor deliver you to the judge, and the judge deliver you to the officer, and you be
            cast into prison. <b>26</b> Most certainly I tell you, you shall by no means get out of there until you have
            paid the last penny. <b>27</b> You have heard that it was said, ‘You shall not commit adultery;’ <b>28</b> but I tell
            you that everyone who gazes at a woman to lust after her has committed adultery with her already in his
            heart. <b>29</b> If your right eye causes you to stumble, pluck it out and throw it away from you. For it is more
            profitable for you that one of your members should perish than for your whole body to be cast into Gehenna.
            <b>30</b> If your right hand causes you to stumble, cut it off, and throw it away from you. For it is more
            profitable for you that one of your members should perish, than for your whole body to be cast into
            Gehenna. <b>31</b> It was also said, ‘Whoever shall put away his wife, let him give her a writing of divorce,’
            <b>32</b> but I tell you that whoever puts away his wife, except for the cause of sexual immorality, makes her an
            adulteress; and whoever marries her when she is put away commits adultery.
            <b>Mat 5:33</b> Again you have heard that it was said to the ancient ones, ‘You shall not make false vows, but
            shall perform to the Lord your vows,’ <b>34</b> but I tell you, don’t swear at all: neither by heaven, for it is
            the throne of God; <b>35</b> nor by the earth, for it is the footstool of his feet; nor by Jerusalem, for it is
            the city of the great King. <b>36</b> Neither shall you swear by your head, for you can’t make one hair white or
            black. <b>37</b> But let your ‘Yes’ be ‘Yes’ and your ‘No’ be ‘No.’ Whatever is more than these is of the evil
            one. <b>38</b> You have heard that it was said, ‘An eye for an eye, and a tooth for a tooth.’ <b>39</b> But I tell you,
            don’t resist him who is evil; but whoever strikes you on your right cheek, turn to him the other also.
            <b>40</b> If anyone sues you to take away your coat, let him have your cloak also. <b>41</b> Whoever compels you to go
            one mile, go with him two. <b>42</b> Give to him who asks you, and don’t turn away him who desires to borrow
            from you. <b>43</b> You have heard that it was said, ‘You shall love your neighbor and hate your enemy.’ <b>44</b> But I
            tell you, love your enemies, bless those who curse you, do good to those who hate you, and pray for those
            who mistreat you and persecute you, <b>45</b> that you may be children of your Father who is in heaven. For he
            makes <a class="echo" data-echo-id="6">his sun to rise on the evil and the good, and sends rain</a>
            on the just and the unjust. <b>46</b> For if you
            love those who love you, what reward do you have? Don’t even the tax collectors do the same? <b>47</b> If you
            only greet your friends, what more do you do than others? Don’t even the tax collectors do the same? <b>48</b>
            Therefore you shall be perfect, just as your Father in heaven is perfect.
            <br>
            <br>
            <h4>CHAPTER 6</h4>
            <b>Mat 6:1</b> Be careful that you don’t do your charitable giving before men, to be seen by them, or else you
            have no reward from your Father who is in heaven. <b>2</b> Therefore, when you do merciful deeds, don’t sound a
            trumpet before yourself, as the hypocrites do in the synagogues and in the streets, that they may get
            glory from men. Most certainly I tell you, they have received their reward. <b>3</b> But when you do merciful
            deeds, don’t let your left hand know what your right hand does, <b>4</b> so that your merciful deeds may be in
            secret, then your Father who sees in secret will reward you openly. <b>5</b> When you pray, you shall not be as
            the hypocrites, for they love to stand and pray in the synagogues and in the corners of the streets,
            that they may be seen by men. Most certainly, I tell you, they have received their reward. <b>6</b> But you,
            when you pray, enter into your inner room, and having shut your door, pray to your Father who is in
            secret; and your Father who sees in secret will reward you openly. <b>7</b> In praying, don’t use vain
            repetitions as the Gentiles do; for they think that they will be heard for their much speaking. <b>8</b>
            Therefore don’t be like them, for your Father knows what things you need before you ask him. <b>9</b> Pray
            like this: ‘Our Father in heaven, may your name be kept holy. 10 Let your Kingdom come. Let your will
            be done on earth as it is in heaven. <b>11</b> Give us today our daily bread. <b>12</b> Forgive us our debts, as we
            also forgive our debtors. <b>13</b> Bring us not into temptation, but deliver us from the evil one. For yours
            is the Kingdom, the power, and the glory forever. Amen.’ <b>14</b> For if you forgive men their trespasses,
            your heavenly Father will also forgive you. <b>15</b> But if you don’t forgive men their trespasses, neither
            will your Father forgive your trespasses. <b>16</b> Moreover when you fast, don’t be like the hypocrites, with
            sad faces. For they disfigure their faces that they may be seen by men to be fasting. Most certainly I
            tell you, they have received their reward. <b>17</b> But you, when you fast, anoint your head and wash your face,
            <b>18</b> so that you are not seen by men to be fasting, but by your Father who is in secret; and your Father,
            who sees in secret, will reward you.
            <br>
            <br>
            <b>Mat 6:19</b> Don’t lay up treasures for yourselves on the earth, where moth and rust consume, and where
            thieves break through and steal; <b>20</b> but lay up for yourselves treasures in heaven, where neither moth nor
            rust consume, and where thieves don’t break through and steal; <b>21</b> for where your treasure is, there your
            heart will be also. <b>22</b> The lamp of the body is the eye. If therefore your eye is sound, your whole body
            will be full of light. <b>23</b> But if your eye is evil, your whole body will be full of darkness. If therefore
            the light that is in you is darkness, how great is the darkness! No one can serve two masters, for either
            he will hate the one and love the other, or else he will be devoted to one and despise the other. You
            can’t serve both God and Mammon. <b>25</b> Therefore I tell you, don’t be anxious for your life: what you will
            eat, or what you will drink; nor yet for your body, what you will wear. Isn’t life more than food, and
            the body more than clothing? <b>26</b> See the birds of the sky, that they don’t sow, neither do they reap, nor
            gather into barns. Your heavenly Father feeds them. Aren’t you of much more value than they? <b>27</b> Which of
            you by being anxious, can add one moment to his lifespan? <b>28</b> Why are you anxious about clothing? Consider
            the lilies of the field, how they grow. They don’t toil, neither do they spin, <b>29</b> yet I tell you that
            even Solomon in all his glory was not dressed like one of these. <b>30</b> But if God so clothes the grass of
            the field, which today exists and tomorrow is thrown into the oven, won’t he much more clothe you, you
            of little faith? <b>31</b> Therefore don’t be anxious, saying, ‘What will we eat?’, ‘What will we drink?’ or,
            ‘With what will we be clothed?’ <b>32</b> For the Gentiles seek after all these things; for your heavenly
            Father knows that you need all these things. <b>33</b> But seek first God’s Kingdom and his righteousness; and
            all these things will be given to you as well. <b>34</b> Therefore don’t be anxious for tomorrow, for tomorrow
            will be anxious for itself. Each day’s own evil is sufficient.
            <br>
            <br>
            <h4>CHAPTER 7</h4>
            <b>Mat. 7:1</b> Don’t judge, so that you won’t be judged. <b>2</b> For with whatever judgment you judge, you will be
            judged; and with whatever measure you measure, it will be measured to you. <b>3</b> Why do you see the speck
            that is in your brother’s eye, but don’t consider the beam that is in your own eye? <b>4</b> Or how will you
            tell your brother, ‘Let me remove the speck from your eye,’ and behold, the beam is in your own eye?
            <b>5</b> You hypocrite! First remove the beam out of your own eye, and then you can see clearly to remove the
            speck out of your brother’s eye. <b>6</b> Don’t give that which is holy to the dogs, neither throw your pearls
            before the pigs, lest perhaps they trample them under their feet, and turn and tear you to pieces. <b>7</b> Ask,
            and it will be given you. Seek, and you will find. Knock, and it will be opened for you. <b>8</b> For everyone
            who asks receives. He who seeks finds. To him who knocks it will be opened. <b>9</b> Or who is there among you
            who, if his son asks him for bread, will give him a stone? <b>10</b> Or if he asks for a fish, who will give
            him a serpent? <b>11</b> If you then, being evil, know how to give good gifts to your children, how much more
            will your Father who is in heaven give good things to those who ask him! <b>12</b> Therefore, whatever you
            desire for men to do to you, you shall also do to them; for this is the law and the prophets.
        </div>
    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 1</p>
    </div>

    <!-- Hidden Echo 2 -->
    <div data-echo-id="2">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 2</p>
    </div>

    <!-- Hidden Echo 3 -->
    <div data-echo-id="3">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 3</p>
    </div>

    <!-- Hidden Echo 4 -->
    <div data-echo-id="4">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 4</p>
    </div>

    <!-- Hidden Echo 5 -->
    <div data-echo-id="5">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 5</p>
    </div>

    <!-- Hidden Echo 6 -->
    <div data-echo-id="6">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 6</p>
    </div>

    <!-- Hidden Echo 7 -->
    <div data-echo-id="7">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 7</p>
    </div>

    <!-- Hidden Echo 8 -->
    <div data-echo-id="8">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 8</p>
    </div>

    <!-- Hidden Echo 9 -->
    <div data-echo-id="9">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 9</p>
    </div>

    <!-- Hidden Echo 10 -->
    <div data-echo-id="10">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 10</p>
    </div>

    <!-- Hidden Echo 11 -->
    <div data-echo-id="11">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 11</p>
    </div>

    <!-- Hidden Echo 12 -->
    <div data-echo-id="12">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 12</p>
    </div>

    <!-- Hidden Echo 13 -->
    <div data-echo-id="13">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 13</p>
    </div>

    <!-- Hidden Echo 14 -->
    <div data-echo-id="14">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 14</p>
    </div>

    <!-- Hidden Echo 15 -->
    <div data-echo-id="15">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 15!</p>
    </div>

{% endblock %}


