{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 2 - "Numbers and Corinthians"{% endblock %}

{% block echoGroupBody %}
    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>Leviticus</h3>
            <br>
            <b>1:1</b> Yahweh <a class="echo" data-echo-id="1">called</a> to Moses, and spoke to him from the Tent of
            Meeting, saying,
            <b>2</b> Speak to the children of Israel, and tell them, "When any
            <a class="echo" data-echo-id="2">man of you offers an offering</a> to Yahweh,
            you shall offer your offering of the livestock, from the herd, and from the flock."
            <b>1:3</b> "If his offering is a burnt offering from the herd, he shall offer a male without defect. He shall
            offer it at the door of the Tent of Meeting, that he may be accepted before Yahweh. <b>4</b> He shall lay his hand
            on the head of the burnt offering, and it shall be accepted for him to make atonement for him. <b>5</b> He shall kill
            the bull before Yahweh. Aaron’s sons, the priests, shall present the blood and sprinkle the blood around on the
            altar that is at the door of the Tent of Meeting. <b>6</b> He shall skin the burnt offering and cut it into pieces."
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>Romans</h3>
            <br>
            <b>1:1</b> Paul, a servant of Jesus Christ, <a class="echo" data-echo-id="1">called</a> to be an apostle,
            <a class="echo" data-echo-id="2">set apart</a>
            for the Good News of God,
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <b>1:3</b> If his <a class="echo" data-echo-id="3">offering is a burnt offering</a>
            from the herd, <a class="echo" data-echo-id="4">he shall offer a male without defect.</a> He shall offer
            it at the door of the Tent of Meeting, that he may be accepted before Yahweh. <b>4</b> He shall lay his hand on the
            head of the burnt offering, and it shall be accepted for him to make atonement for him. <b>5</b> He shall kill the
            bull before Yahweh. Aaron’s <a class="echo" data-echo-id="5">sons</a>, the priests, shall present the blood and
            sprinkle the blood around on the altar that is at the door of the Tent of Meeting. <b>6</b> He shall
            <a class="echo" data-echo-id="6">skin</a> the burnt
            offering and cut it into pieces.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <b>1:2</b> which he <a class="echo" data-echo-id="3">promised</a> before through his prophets in the holy
            Scriptures, 3 <a class="echo" data-echo-id="4">concerning his Son</a>, who was born of the
            <a class="echo" data-echo-id="5">offspring</a> of David according to the
            <a class="echo" data-echo-id="6">flesh</a>,
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <b>1:7</b> The sons of Aaron the priest shall put fire on the altar and lay wood in order on the fire; <b>8</b> and
            Aaron’s sons, the priests, shall lay the pieces, the head, and the fat in order on the wood that is on the
            fire which is on the altar; <b>9</b> but its innards and its legs he shall wash with water. The priest shall burn
            all of it on the altar, for a burnt offering, an offering made by fire, of a
            <a class="echo" data-echo-id="7">pleasant aroma to Yahweh</a>.
            <br>
            <br>
            <b>10</b> If his offering is from the flock, from the sheep or from the goats, for a burnt offering, he shall
            offer a male without defect. <b>11</b> He shall <a class="echo" data-echo-id="8">kill it on the north side</a>
            of the <a class="echo" data-echo-id="9">altar before Yahweh</a>. Aaron’s
            sons, the priests, shall sprinkle its blood around on the altar. <b>12</b> He shall cut it into its pieces, with
            its head and its fat. The priest shall lay them in order on the wood that is on the fire which is on the
            altar, <b>13</b> but the innards and the legs he shall wash with water. The priest shall offer the whole and burn
            it on the altar. It is a burnt offering, an offering made by fire, of a
            pleasant aroma to Yahweh.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <b>1:4</b> who was declared to be the Son of God with power, according to the
            <a class="echo" data-echo-id="7">Spirit of holiness</a>, by the
            resurrection from the <a class="echo" data-echo-id="8">dead</a>,
            <a class="echo" data-echo-id="8">Jesus Christ our Lord</a>,
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            1:14 If his offering to Yahweh is a burnt offering of birds, then he shall offer his offering from
            <a class="echo" data-echo-id="9">turtledoves or of young pigeons</a>.
            15 The priest shall bring it to the altar, and wring off its head, and
            burn it on the altar; and its blood shall be drained out on the side of the altar; 16 and he shall take
            away its crop and its feathers and cast it beside the altar on the east part, in the place of the ashes.
            17 He shall tear it by its wings but
            <a class="echo" data-echo-id="10">shall not divide it apart.</a>
            The priest shall burn it on the altar, on
            the wood that is on the fire. It is a burnt offering, an offering made by fire, of a pleasant aroma to
            <a class="echo" data-echo-id="11">Yahweh</a>.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            1:5 through whom we received grace and apostleship for obedience of
            <a class="echo" data-echo-id="9">faith among all the nations</a>
            for his name’s sake; 6 among whom you are also called to
            <a class="echo" data-echo-id="10">belong to Jesus Christ</a>;
            7 to all who are in Rome,
            beloved of God, called to be saints: Grace to you and peace from God our Father and the
            <a class="echo" data-echo-id="11">Lord Jesus Christ</a>.
        </div>
    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 1</p>
    </div>

    <!-- Hidden Echo 2 -->
    <div data-echo-id="2">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 2</p>
    </div>

    <!-- Hidden Echo 3 -->
    <div data-echo-id="3">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 3</p>
    </div>

    <!-- Hidden Echo 4 -->
    <div data-echo-id="4">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 4</p>
    </div>

    <!-- Hidden Echo 5 -->
    <div data-echo-id="5">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 5</p>
    </div>

    <!-- Hidden Echo 6 -->
    <div data-echo-id="6">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 6</p>
    </div>

    <!-- Hidden Echo 7 -->
    <div data-echo-id="7">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 7</p>
    </div>

    <!-- Hidden Echo 8 -->
    <div data-echo-id="8">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 8</p>
    </div>

    <!-- Hidden Echo 9 -->
    <div data-echo-id="9">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 9</p>
    </div>

    <!-- Hidden Echo 10 -->
    <div data-echo-id="10">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 10</p>
    </div>

    <!-- Hidden Echo 11 -->
    <div data-echo-id="11">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 11</p>
    </div>

    <!-- Hidden Echo 12 -->
    <div data-echo-id="12">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 12</p>
    </div>

    <!-- Hidden Echo 13 -->
    <div data-echo-id="13">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 13</p>
    </div>

    <!-- Hidden Echo 14 -->
    <div data-echo-id="14">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 14</p>
    </div>

    <!-- Hidden Echo 15 -->
    <div data-echo-id="15">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <p>This is Echo 15</p>
    </div>

{% endblock %}
