            {% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 1 - "Numbers and Corinthians"{% endblock %}

{% block echoGroupBody %}

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>Leviticus 5</h3>
            <br>
            <b>5:1</b> If anyone sins, in that he hears a public adjuration to testify, he being a witness, whether he has
            seen or known, if he doesn’t report it, then he shall bear his iniquity. <b>2</b>
            Or if anyone touches any
            unclean thing, whether it is the carcass of an unclean animal, or the carcass of unclean livestock, or the
            carcass of unclean creeping things, and it is hidden from him, and he is unclean, then he shall be guilty.
            <b>3</b> Or if he touches the uncleanness of man, whatever his uncleanness is with which he is unclean, and it
            is hidden from him; when he knows of it, then he shall be guilty. <b>4</b>
            Or if anyone swears rashly with his lips to do evil or to do good—whatever it is that a man might utter
            rashly with an oath, and it is hidden from him;
            <a class="echo" data-echo-id="1">when he knows of it, then he will be guilty of one of
            these. <b>5</b> It shall be, when he is guilty of one of these, he shall confess that in which he has sinned;
            <b>6</b> and he shall bring his trespass offering to Yahweh for his sin which he has sinned</a> : a female from the
            flock, a lamb or a goat, for a sin offering; and the priest shall make atonement for him concerning his
            sin.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>Romans 1:32</h3>
            <br>
            <b>1:32</b> who, <a class="echo" data-echo-id="1">knowing the ordinance of God, that those who practice such
            things are worthy of death, not only do the same, but also approve of those</a> who practice them.
        </div>
    </div>
{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


