{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 5 - "p19 (Sectional Related Comments)"{% endblock %}

{% block echoGroupBody %}

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>p19 (Sectional Related)</h3>
            <br>
            6:24 Yahweh spoke to Moses, saying, 25 “Speak to Aaron and to his sons, saying, ‘This is the law of the sin
            offering: in the place where the burnt offering is killed, the sin offering shall be killed before Yahweh. It
            is most holy. 26 The priest who offers it for sin shall eat it. It shall be eaten in a holy place, in the
            <a class="echo" data-echo-id="1">court</a>
            of the Tent of Meeting. 27 Whatever shall touch its flesh shall be holy. When there is any of its blood
            sprinkled on a garment, you shall wash that on which it was sprinkled in a holy place. 28 But the earthen
            vessel in which it is boiled shall be broken; and if it is boiled in a bronze vessel, it shall be scoured and
            rinsed in water. 29 Every male among the priests shall eat of it. It is most holy. 30 No sin offering, of
            which any of the blood is brought into the Tent of Meeting to make atonement in the Holy Place, shall be eaten.
            It shall be burned with fire
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>&nbsp;</h3>
            <br>
            2:14 (for when <a class="echo" data-echo-id="1">Gentiles</a> who don’t have the law do by nature the
            things of the law, these, not having the
            law, are a law to themselves, 15 in that they show the work of the law written in their hearts, their
            conscience testifying with them, and their thoughts among themselves accusing or else excusing them)
            16 in the day when God will judge the secrets of men, according to my Good News, by Jesus Christ.
        </div>
    </div>

    <div class="textLeft echoesGray" style="font-style: italic;">
        NOTE: The connection between the two sides of this pairing is a consciousness of sin. Those who bring a sin
        offering to the priest, have consciousness of sin and have been given a means of dealing with it. This same
        consciousness is at work in the Gentiles, having “the law written in their hearts.” The word “court” is
        suggested to be the echo of “Gentiles” because of their use in Revelation 11:2.
    </div>
    <br>

    <div class="row">

    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


