            {% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 1 - "Numbers and Corinthians"{% endblock %}

{% block echoGroupBody %}

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>p40 (Size Disparity Example)</h3>
            <br>
            <b>13:29</b> “When a <a class="echo" data-echo-id="1">man</a> or a woman has a plague on the head or on the
            beard, <b>30</b> then the priest shall examine
            the plague; and behold, if its appearance is deeper than the skin, and the hair in it is yellow and thin,
            then the priest shall pronounce him unclean. It is an itch. It is leprosy of the head or of the beard. 31
            If the priest examines the plague of itching, and behold, its appearance isn’t deeper than the skin, and
            there is no black hair in it, then the priest shall isolate the person infected with itching seven days.
            <b>32</b> On the seventh day the priest shall examine the plague; and behold, if the itch hasn’t spread, and
            there is no yellow hair in it, and the appearance of the itch isn’t deeper than the skin, <b>33</b> then he
            shall be shaved, but he shall not shave the itch. Then the priest shall isolate the one who has the itch
            seven more days. <b>34</b> On the seventh day, the priest shall examine the itch; and behold, if the itch hasn’t
            spread in the skin, and its appearance isn’t deeper than the skin, then the priest shall pronounce him
            clean. He shall wash his clothes and be clean. <b>35</b> But if the itch spreads in the skin after his cleansing,
            36 then the priest shall examine him; and behold, if the itch has spread in the skin, the priest shall not
            look for the yellow hair; he is unclean. <b>37</b> But if in his eyes the itch is arrested and black hair has
            grown in it, the itch is healed. He is clean. The priest shall pronounce him clean.
            <br>
            <br>
            <b>38</b> “When a man or a woman has bright spots in the skin of the body, even white bright spots, <b>39</b>
            then the priest shall examine them. Behold, if the bright spots on the skin of their body are a dull white,
            it is a harmless rash. It has broken out in the skin. He is clean.
            <br>
            <br>
            <b>40</b> “If a man’s hair has fallen from his head, he is bald. He is clean. <b>41</b> If his hair has fallen off from
            the front part of his head, he is forehead bald. He is clean. <b>42</b> But if there is in the bald head or the
            bald forehead a reddish-white plague, it is leprosy breaking out in his bald head or his bald forehead.
            <b>43</b> Then the priest shall examine him. Behold, if the swelling of the plague is reddish-white in his bald
            head, or in his bald forehead, like the appearance of leprosy in the skin of the body, <b>44</b> he is a leprous
            man. He is unclean. The priest shall surely pronounce him unclean. His plague is on his head.
            <br>
            <br>
            <b>45</b> <a class="echo" data-echo-id="2">The leper in whom the plague is shall wear torn clothes, and
                the hair of his head shall hang loose. He shall cover his upper lip, and shall cry, ‘Unclean! Unclean!’</a>
            <b>46</b> All the days in which the plague is in him he shall be unclean. He is unclean. He shall dwell
            alone. Outside of <a class="echo" data-echo-id="3">the camp</a> shall be his dwelling.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>&nbsp;</h3>
            <br>
            <b>5:19</b> For as through the <a class="echo" data-echo-id="1">one man’s</a> disobedience
            <a class="echo" data-echo-id="2">many were made sinners,</a>
            even so through the obedience of the one, <a class="echo" data-echo-id="3">many</a> will be made righteous.
        </div>
    </div>

    <div class="textLeft echoesGray" style="font-style: italic;">
        NOTE:  Paul writes about how one man’s disobedience cause many to be made sinners. In Leviticus, one man’s
        disobedience to isolate when having leprosy, can cause an outbreak on all. The accounts echo each other.
    </div>
    <br>

    <div class="row">

    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


