{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 8 - "p76 (Most Complex Page)"{% endblock %}

{% block echoGroupBody %}

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>Leviticus 22:17</h3>
            <br>
            22:17 Yahweh spoke to Moses, saying, 18 “<a class="echo" data-echo-id="1">Speak</a> to Aaron, and
            to his sons, and to all the children of
            Israel, and say to them, ‘Whoever is of the house of Israel, or of the foreigners in Israel,
            <a class="echo" data-echo-id="2">who offers
                his offering, whether it is any of their vows or any of their free will offerings</a>, which they
            <a class="echo" data-echo-id="3">offer to Yahweh</a> for a burnt offering: 19 that you may be accepted,
            <a class="echo" data-echo-id="4">you shall offer a male without defect, of the
                bulls, of the sheep, or of the goats.</a>
            20 But you shall not offer anything that has a defect, for it shall
            not be acceptable for you. 21 Whoever offers a sacrifice of peace offerings to Yahweh to accomplish a vow,
            or for a free will offering of the herd or of the flock, it shall be
            <a class="echo" data-echo-id="5">perfect to be accepted</a>. There shall
            be <a class="echo" data-echo-id="6">no defect in it</a>. 22 You shall not offer what is blind, or injured, or maimed, or has a wart, or is
            festering, or has a running sore to Yahweh, nor make an offering by fire of them on the altar to Yahweh.
            23 Either a
            <a class="echo" data-echo-id="7">bull or a lamb</a> that has any
            <a class="echo" data-echo-id="8">deformity</a> or
            <a class="echo" data-echo-id="9">lacking</a> in his parts, that you may offer for a free
            will offering; but for a vow it shall not be accepted. 24 You shall not offer to Yahweh that which has
            its testicles
            <a class="echo" data-echo-id="10">bruised</a>,
            <a class="echo" data-echo-id="11">crushed</a>,
            <a class="echo" data-echo-id="12">broken</a>, or
            <a class="echo" data-echo-id="13">cut</a>. You shall not do this in your land. 25 You shall not
            offer any of these as the bread of your God from the hand of a foreigner, because their corruption is
            in them. There is a defect in them. They shall not be accepted for you.’”
            <br>
            <br>
            26 Yahweh spoke to Moses, saying, 27 “When a bull, a sheep, or a goat is born, it shall remain seven days
            with its mother. From the eighth day on it shall be accepted for the offering of an offering made by fire
            to Yahweh. 28 Whether it is a cow or ewe,
            <a class="echo" data-echo-id="14">cutyou shall not kill it and its young both in one day</a>.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>Romans 12</h3>
            <br>
            12:1 Therefore I <a class="echo" data-echo-id="1">urge</a> you, brothers, by the mercies of God, to
            <a class="echo" data-echo-id="2">present your bodies a living sacrifice</a>,
            holy, acceptable to God, which is your
            <a class="echo" data-echo-id="3">spiritual service</a>. 2 Don’t be conformed to this world, but be
            transformed by the renewing of your mind, so that you may prove what is the
            <a class="echo" data-echo-id="4">good, well-pleasing, and perfect will of God.</a>
            3 For I say through the grace that was given me, to everyone who is among you,
            <a class="echo" data-echo-id="5">not to think of himself more highly than he ought to think</a>; but to
            <a class="echo" data-echo-id="6">think reasonably</a>, as God has apportioned to each person a
            measure of faith. 4 For even as we have many members in one body, and all the members don’t have the
            same function, 5 so we, who are many, are one body in Christ, and individually members of one another,
            6 having
            <a class="echo" data-echo-id="7">gifts differing</a> according to the grace that was given to us: if
            prophecy, let’s <a class="echo" data-echo-id="8">prophesy</a>
            according to the proportion of our faith; 7 or <a class="echo" data-echo-id="9">service</a>,
            let’s give ourselves to service; or he who
            <a class="echo" data-echo-id="10">teaches</a>, to his teaching; 8 or he who
            <a class="echo" data-echo-id="11">exhorts</a>, to his exhorting; he who
            <a class="echo" data-echo-id="12">gives</a>, let him do it with
            generosity; he who <a class="echo" data-echo-id="13">rules</a>, with diligence; he who shows
            <a class="echo" data-echo-id="14">mercy</a>, with cheerfulness.
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
        </div>
    </div>

{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


