{% extends 'home.html.twig' %}

{% block echoGroupTitle %}Echo 9 - "p95 (Interesting Mapping of Commentary)"{% endblock %}

{% block echoGroupBody %}
    <div class="row">
        <div class="echoSubGroupLeft col-xs-12 col-sm-6">
            <h3>Leviticus 22:17</h3>
            <br>
            <b>26:40</b> If they confess their iniquity and the iniquity of their fathers, in their trespass which
            they trespassed against me; and also that because they walked contrary to me, <b>41</b> I also walked contrary
            to them, and brought them into the land of their enemies; if then their uncircumcised heart is humbled,
            and they then accept the punishment of their iniquity, <b>42</b> then I will remember my covenant with Jacob,
            my covenant with Isaac, and also my covenant with Abraham; and I will remember the land. <b>43</b> The land
            also will be left by them and will enjoy its <a class="echo" data-echo-id="1">Sabbaths</a>
            while it lies desolate without them; and they will
            accept the punishment of their iniquity because they rejected my ordinances, and their soul abhorred my
            statutes. <b>44</b> Yet for all that, when they are in the land of their enemies, I will not reject them, neither
            will I abhor them, to destroy them utterly and to break my covenant with them; for I am Yahweh their God.
            45 <a class="echo" data-echo-id="2">But I will for their sake remember the covenant of their ancestors</a>,
            whom I brought out of the land of Egypt in the sight of the nations, that I might be their God. I am Yahweh.
            <br>
            <br>
            <b>46</b> <a class="echo" data-echo-id="3">These are the statutes, ordinances, and laws, which Yahweh made between him and the children of Israel
                in Mount Sinai by Moses</a>.
        </div>
        <div class="echoSubGroupRight col-xs-12 col-sm-6">
            <h3>Romans 12</h3>
            <br>
            <b>15:33</b> Now the God of <a class="echo" data-echo-id="1">peace</a>
            <a class="echo" data-echo-id="2">be with you all</a>.
            <a class="echo" data-echo-id="3">Amen</a>.
        </div>
    </div>
{% endblock %}

{% block hiddenData %}

    <!-- Hidden Echo 1 -->
    <div data-echo-id="1">
        <b>Translations</b>
        <br>
        <hr>
        <b>Commentary</b>
        <br>
    </div>

{% endblock %}


