.echoesGreenBg {
    background: #386c72;
}
.echoesBlueBg {
    background: #2d939f;
}
.echoesDarkBlue {
    color: #152b38;
}
.echoesOrangeBg {
    background: #c03c2d;
}
.echoesOrange {
    color: #c03c2d;
}
.echoesRedBg {
    background: #962215;
}
.echoesRed {
    color: #962215;
}
.echoesGray {
    color: darkgray;
}
.width100 {
    width: 100%;
}
.bolder {
    font-weight: bolder;
}
.btn.btn-primary {
    background: #c03c2d;
    border: 1px solid #c03c2d;
}
.btn.btn-primary:active {
    background: #962215;
    border: 1px solid #c03c2d;
}

.displayNone {
    display: none;
}

.noWrap {
    white-space: nowrap;
}

.textLeft {
    text-align: left;
}

.pad25 {
    padding: 25px;
}

