.echoesGreenBg {
    background: #386c72;
}
.echoesBlueBg {
    background: #2d939f;
}
.echoesDarkBlue {
    color: #152b38;
}
.echoesOrangeBg {
    background: #c03c2d;
}
.echoesOrange {
    color: #c03c2d;
}
.echoesRedBg {
    background: #962215;
}
.echoesRed {
    color: #962215;
}
.echoesGray {
    color: darkgray;
}
.width100 {
    width: 100%;
}
.bolder {
    font-weight: bolder;
}
.btn.btn-primary {
    background: #c03c2d;
    border: 1px solid #c03c2d;
}

.displayNone {
    display: none;
}

.noWrap {
    white-space: nowrap;
}

.textLeft {
    text-align: left;
}

body:has(.echo[data-echo-id="1"]:hover) .echo[data-echo-id="1"],
body:has(.echo[data-echo-id="2"]:hover) .echo[data-echo-id="2"],
body:has(.echo[data-echo-id="3"]:hover) .echo[data-echo-id="3"],
body:has(.echo[data-echo-id="4"]:hover) .echo[data-echo-id="4"],
body:has(.echo[data-echo-id="5"]:hover) .echo[data-echo-id="5"],
body:has(.echo[data-echo-id="6"]:hover) .echo[data-echo-id="6"],
body:has(.echo[data-echo-id="7"]:hover) .echo[data-echo-id="7"],
body:has(.echo[data-echo-id="8"]:hover) .echo[data-echo-id="8"]
{
    color: #c03c2d !important;
    cursor: pointer;
}
