<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Echoes Bible{% endblock %}</title>
        {% block styles %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        {% endblock %}
        {% block scripts %}
            <script
                src="https://code.jquery.com/jquery-4.0.0.min.js"
                integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao="
                crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
        <footer class="echoesGreenBg echoesOrangeBg">
            <br>
            <br>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-3">
                        <img src="/image/echoes-logo-white.avif" class="width100" style="max-width: 200px;">
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h4>Sitemap</h4>
                        <a href="/" class="text-white">Explore Echoes</a>
                        <br>
                        <a href="/" class="text-white">Notes</a>
                        <br>
                        <a href="/" class="text-white">Bookmarks</a>
                        <br>
                        <a href="/" class="text-white">Other</a>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h4>Other</h4>
                        <a href="/" class="text-white">google.com</a>
                        <br>
                        <a href="/" class="text-white">google.com</a>
                        <br>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <h4>Contact</h4>
                        <a href="tel:2172425213" class="text-white">(217) 242-5213</a>
                        <br>
                        <a href="mailto:apmusholt@gmail.com" class="text-white">apmusholt@gmail.com</a>
                        <br>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="width100 text-center">
                Copyright &copy; 2026 Echoes Bible
            </div>
        </footer>
    </body>
</html>
